
/* All */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    font-weight: 200;
}

h2, h3, h4, h5, h6 {
    margin:20px 0 10px 0;
}

/* Header */

#logo{
    margin-right:10px;
}

#nav-main{
    margin-top:10px;
}

.navbar .brand {
    color:white !important;
}

.navbar-inner{
    background-color:#0097C6;
    background-image:none;
}

.navbar .nav > li > a{
    color:#D6F5FF;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover{
    background-color:#00a0d2 !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* Content */

#content{
    margin-left:-10px;
}

#main{
    margin-left:10px;
    padding-left:20px;
}

#wrap{
    padding-top:30px;
}

#treecontrol a{
    font-size:10px;
    margin-right:5px;
}

.treeview a{
    padding:4px 5px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.treeview a:hover{
    text-decoration:none;
}

.treeview a.hover,
.treeview a:hover{
    background-color:#F6f6f6 !important;
    text-decoration:none;
    color:#08C;
}

.treeview a.selected{
    background-color:#F3F3F3 !important;
    background-color:#e20000 !important;
    color:white !important;
}


.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 98% !important;
}

/* Footer */

#content-info{
    border-top: 1px solid #F3F3F3;
    margin-top: 30px;
    padding: 10px 0 0 20px;
    color:#999;
    font-size:11px;
}