header{
    display:none;
}

body.top-navbar {
    margin:0;
    padding:0;
}

#custom_footer{
    display:none;
}

img{
    margin:7px 0 7px 0;
    height: auto;
}

.page-header{
    padding-bottom:10px;
}

ul,
ol{
    margin-top:7px;
}

h1{
    page-break-before:right;
}

h2{
    margin-top:30px;
}

h3{
    margin-top:15px;
}